<!doctype>
<html>
	<head>
		<title>HOME PAGE</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body>
	<div class="waveWrapper waveAnimation">
	  <div class="waveWrapperInner bgTop">
	    <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')">
		  <div class="row"></div>
   		<div class="row">
       		 <div class="content">
            	<center>
                	<h1 class="tagline">P A R W A T E S W A R</h1>
           	</center>
        	</div>
    </div></div>
	  </div>
	  <div class="waveWrapperInner bgMiddle">
	    <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
	  </div>
	  <div class="waveWrapperInner bgBottom">
	    <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
	  </div>
	</div>
	<div class="content">
            <center>
                <h1 class="tagline">P A R V A T E S H W A R</h1>
            </center>
        </div>
	</body>
</html>
